<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="serilog:minimum-level" value="Verbose" />
        <add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />
        <add key="serilog:enrich:WithThreadId" />
        <add key="serilog:enrich:FromLogContext" />

        <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
        <add key="serilog:write-to:Console" />
        <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp}] {Level:u3} [{ThreadId}] ({SourceContext}) - {Message:lj}{NewLine}{Exception}" />

        <add key="serilog:using:File" value="Serilog.Sinks.File" />
        <add key="serilog:write-to:File.path" value="logger.log" />
        <add key="serilog:write-to:File.fileSizeLimitBytes" value="102400" />
        <add key="serilog:write-to:File.retainedFileCountLimit" value="5" />
        <add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
        <add key="serilog:write-to:File.outputTemplate" value="[{Timestamp}] {Level:u3} [{ThreadId}] ({SourceContext}) - {Message:lj}{NewLine}{Exception}" />
        <add key="serilog:write-to:File.shared" value="true" />
    </appSettings>
</configuration>